<div class="my-5">
  <footer
    class="container-fluid text-center text-lg-start text-white"
    style="background-color: #45526e"
  >
    <div class="container p-4 pb-0">
      <section class="">
        <div class="row">
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">
              Kangai Poultries
            </h6>
            <p></p>
          </div>
          <hr class="w-100 clearfix d-md-none" />
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
            <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
            <p><i class="fas fa-home mr-3"></i> kutus, kirinyaga, Kenya</p>
            <p>
              <i class="fas fa-envelope mr-3"></i> eliudgachoki0&#64;gmail.com
            </p>
            <p><i class="fas fa-phone mr-3"></i> +254 748 522 007</p>
            <p><i class="fas fa-print mr-3"></i> +254 769 299 812</p>
          </div>
        </div>
      </section>
      <hr class="my-3" />
      <section class="p-3 pt-0">
        <div class="row d-flex align-items-center">
          <div class="col-md-7 col-lg-8 text-center text-md-start">
            <div class="p-3">© eliud muriithi</div>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>
